.statementContainer {
  width: 282px;
  height: auto;
  max-height: 100vh;
  background-color: #F5F5F5;
  padding: 32px 24px;
  border-radius: 8px;
  overflow: auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.statementHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.headerTitle {
  font-size: 25px;
  color: #000000;
  font-weight: 700;
  line-height: 30.26px;
}

.headerButton {
  font-size: 25px;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  background-color: #004D61;
  color: #fff;

  &:hover {
    background-color: #DEE9EA;
    color: #004D61;
  }
}

.headerButtonsContainer {
  display: flex;
}
